//- variables used in components/head;
- var title   = "" // HTML page title;
- var navMain = "" // select main link;
doctype 5
html.no-js(lang="en") 
    head
        include ../../includes/head
    body
        div.circle-container
            div.circle.n
                a
            div.circle.e
                a
            div.circle.s
                a
            div.circle.w
                a
            div.circle.ne
                a
            div.circle.nw
                a
            div.circle.se
                a
            div.circle.sw
                a
        include ../../includes/foot
