body {
    background: #eee;
    font-size: 14px;
}
h1 {
    border-bottom: 1px dotted #999;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 5px;
    padding: 0 0 5px 0;
}
h2 {
    border-bottom: 1px dotted #999;
    font-size: 16px;
    font-weight: bold;
    margin: 25px 0 5px;
    padding: 5px 0;
}
h3 {
    border-bottom: 1px dotted #999;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 5px;
    padding: 5px 0;
}
p,
ul,
ol {
    margin-top: 5px;
}
    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin-top: 0;
    }
em {
    color: #f50;
}
.hidden {
    display: none;
}
div.tabs-nav {
    padding: 11px 20px;
}
    div.tabs-nav a {
        padding: 2px 10px;
        margin: 0 20px 0 0;
        cursor: pointer;
        border-radius: 5px;
        font-family: sans-serif;
        font-size: 12px;
    }
        div.tabs-nav a:hover {
            color: #f50;
        }
        div.tabs-nav a.selected {
            color: #fff;
            background: #999;
        }
div.column1,
div.column2,
div.column3 {
    float: left;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transition: width 1s, left 1s;
       -moz-transition: width 1s, left 1s;
         -o-transition: width 1s, left 1s;
            transition: width 1s, left 1s;
}
    div.column1 {
        padding: 0;
        width: 40%;
        left: 0;
        overflow: hidden;
    }
        div.iframe,
        div.jade,
        div.scss,
        div.js {
            background: #fff;
            display: none;
            position: absolute;
            z-index: 1;
            top: 40px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            overflow: scroll;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        div.iframe {
            overflow: hidden;
        }
        div.selected {
            display: block;
        }
    div.column2 {
        width: 40%;
        left: 40%;
        color: #333;
        overflow: scroll;
    }
    div.column3 {
        color: #333;
        border-left: 1px dotted #999;
        width: 20%;
        left: 80%;
        overflow: scroll;
    }
        div.column3 form {
            padding: 0 0 20px;
        }
        div.column3 input {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #666;
            font: normal 16px/1 Georgia, serif;
            padding: 5px;
        }
        div.column3 a {
            cursor: pointer;
            display: block;
            font-family: sans-serif;
            font-size: 14px;
            padding: 5px 0;
        }
            div.column3 a + a {
                border-top: 1px dotted #999;
            }
            div.column3 a:hover {
                color: #f50;
            }
            div.column3 a.selected {
                color: #f50;
            }
/* wider columns for the project overview (all text); */
body.text div.column1 {
    width: 15%;
    visibility: hidden;
}
body.text div.column2 {
    width: 70%;
    left: 15%;
}
body.text div.column3 {
    width: 15%;
    left: 85%;
}
div.iframe-page {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
iframe {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
pre {
    margin: 0;
}