doctype 5
html(lang="en") 
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title JS "chord" test
        link(rel="stylesheet", href="./chord.css")
    body
        div.container
            div.dots
                - for (var i = 0; i < 128; ++i) {
                    div(class = (i === 96) ? "dot active" : "dot" )
                - }
            div.chords
                - for (var i = 0; i < 32; ++i) {
                    div.chord
                - }
        div.report
        script(src="//code.jquery.com/jquery-2.0.3.min.js")
        script(src="./chord.js")
