* {
    @include box-sizing(border-box);
}

div.circle-container {
    position: relative;
    width: 640px;
    height: 640px;
    border: 1px solid blue;
    @include border-radius(100%);
    margin: 30px auto;

    div.circle {
        text-indent: -9999px;
        display: block;
        position: absolute;
        border: 1px solid red;

        a {
            display: block;
            position: absolute;
            width: 5%;
            height: 5%;
            @include border-radius(100%);
            background: #000;
        }

        &.n,
        &.s,
        &.e,
        &.w,
        &.ne,
        &.nw,
        &.se,
        &.sw {
            width: 50%;
            height: 50%;
            @include border-radius(100%);
            z-index: 99;
        }
        &.n {
            top: 0;
            left: 25%;

            a {
                top: 0;
                left: 50%;
                margin: -8px 0 0 -8px;
            }
        }
        &.s {
            bottom: 0;
            left: 25%;

            a {
                bottom: 0;
                left: 50%;
                margin: 0 0 -8px -8px;
            }
        }
        &.e {
            top: 25%;
            right: 0;

            a {
                top: 50%;
                left: 0;
                margin: -8px 0 0 -8px;
            }
        }
        &.w {
            top: 25%;
            left: 0;

            a {
                top: 50%;
                right: 0;
                margin: -8px -8px 0 0;
            }
        }
        &.ne {
            top: 7.4%;
            right: 7.4%;

            a {
                top: 11.85%;
                right: 82.5%;
            }
        }
        &.nw {
            top: 7.4%;
            left: 7.4%;

            a {
                top: 11.85%;
                left: 82.5%;
            }
        }
        &.se {
            bottom: 7.4%;
            right: 7.4%;

            a {
                bottom: 11.85%;
                right: 82.5%;
            }
        }
        &.sw {
            bottom: 7.4%;
            left: 7.4%;

            a {
                bottom: 11.85%;
                left: 82.5%;
            }
        }
    }
}

div.circle-conxtainer {
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);
    @include animation-duration(16s);
    @include animation-name(turn-right);
}
div.circle {
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);
    @include animation-duration(4s);
    @include animation-name(turn-right);
}

@include keyframes(turn-right) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}
