// custom mixins for this project;

// adds clearfix styles to any element; (better than Compass clearfix becuase Compass uses overflow: hidden;
@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
// create a column;
@mixin na-grid($width, $margin-left) {
    width: $width;
    margin-left: $margin-left;
    float: left;
    margin-right: -100%;
    clear: none;
}
// undo a column (typically used in a tablet or mobile layout);
@mixin na-grid-undo() {
    width: 100%;
    margin-left: 0;
    float: none;
    margin-right: 0;
}

// content just for IE8;
@mixin forIE8() {
    html.ie8 & {
        @content;
    }
}
// content just for IE9;
@mixin forIE9() {
    html.ie9 & {
        @content;
    }
}
// content just for IE10;
@mixin forIE10() {
    html.ie10 & {
        @content;
    }
}
// content just for Mozilla;
@mixin forFF() {
    html.mozilla & {
        @content;
    }
}
// content just for Webkit (Chrome & Safari);
@mixin forWebkit() {
    @media (-webkit-min-device-pixel-ratio: 0) {
        & {
            @content;
        }
    }
}
